<h4><a href="/">Home</a></h4>

<h1>$animal.getName()</h1>
<a>Animal ID: $animal.getId()</a>

#if($animal.getSightings().size() == 0)
  <p>To report a sighting, please visit the <a href="/">home page</a>.</p>
#else
  #foreach($sighting in $animal.getSightings())
    Location: $sighting.getLocation()
    <br>
    Reported by: $sighting.getRangerName()
    <br>
    Sighting ID: $sighting.getId()
    <br>
    Time of Sighting: $sighting.getTimeOfSighting()
  #end
#end
